.prayer-times {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
        margin: 0;
        font-size: 2.4rem;

        .region-name {
            color: burlywood;
        }
    }

    .info {
        margin-top: 1rem;
        display: flex;
        gap: 1rem;
        font-size: 1.2rem;

        p {
            margin: 0;
        }
    }

    .controls {
        margin-top: .4rem;

        .select-region {
            padding: .2rem 1.4rem;
            font-size: 1.1rem;
            border: none;
            outline: none;
        }
    }

    .prayer-box {
        width: 100%;
        box-sizing: border-box;
        padding: 1rem 4rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .prayer {
            width: 100%;
            box-sizing: border-box;
            padding: .1rem 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 1.4rem;
            background-color: #fff1;
            backdrop-filter: blur(10px) saturate(2) hue-rotate(20deg);
            border-radius: 4px;

            &-current {
                backdrop-filter: blur(50px) saturate(3) hue-rotate(30deg) brightness(2);
                box-shadow: 0 0 50px #fff5 inset, 0 0 20px #eee5, 0 0 30px #fff3;
                border-right: .5px solid #eee5;
                border-bottom: .5px solid #eee5;
            }

            &-name {
                display: flex;
                align-items: center;
                gap: 1rem;

                .icon {
                    filter: invert(1);
                }

                .name {
                    text-transform: capitalize;
                }
            }

            &-time {
                font-size: 1.5rem;
                font-weight: 600;
            }
        }
    }
}