.homepage {
    padding: 1rem 1rem 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    box-sizing: border-box;

    .logo {
        font-size: 4rem;
        margin-bottom: 3rem;
    }

    .links {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        box-sizing: border-box;

        .link-btn {
            width: 350px;
            height: 500px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color: #3332;
            background-repeat: no-repeat;
            background-position: center;
            background-blend-mode: multiply;
            background-size: cover;
            box-shadow: 0 0 3px #fff5;
            backdrop-filter: blur(4px);
            border-radius: 4px;
            transition: .5s;
            overflow: hidden;


            img {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;
                opacity: .5;
                object-fit: cover;
                transition: inherit;
            }

            p {
                margin: 0;
                font-weight: 600;
                font-size: 2.4rem;
                line-height: 100%;
                color: #fff;
                border-radius: 4px;
                opacity: 0;
                filter: blur(10px);
                transition: inherit;
            }



            &:hover {
                img {
                    filter: blur(10px);
                    opacity: 1;
                }

                p {
                    opacity: 1;
                    filter: blur(0);
                }
            }
        }

        .surah-btn {
            img {
                object-position: 30% 0;
            }
        }
    }
}

@media (max-width:420px) {
    .homepage{
        .links{
            flex-direction: column;
            a{
                width: 100%;
            }
            .link-btn{
                width: 100%;
            }
        }
    }
}